h1 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 74px;
  text-align: center;
  margin: 40px 90px 0 90px;
  text-decoration: none;
}
hr{
    margin-top: 0;
}
img {
  width:500px;
  margin: 20px 10px;
}
ul{
    float: right;
    width: 800px;
    height: 300px;
    font-size: 20px;
    margin-top: 70px;
    font-weight: 600;
}
ol{
    background: rgba(217, 217, 217, 0.3);
    font-size: 20px;
    font-weight: 400;
    padding: 20px 50px;
}